$border-radius: 8px !default;
@import "bootstrap/scss/bootstrap.scss";

$blur: blur(15px);

html,
body {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/home_page/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: $blur;
  border-radius: $border-radius;
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: $blur;
}

.carousel-item img {
  border-radius: $border-radius;
}

.slideshow-info {
  backdrop-filter: $blur brightness(0.6);
  border-radius: $border-radius;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
}

.btn-tipo {
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn {
  border-radius: $border-radius;
}

@import "stat.scss";

.progress {
  height: 30px;
}
.progress-bar {
  font-weight: bold;
}

.row-sprites {
  justify-content: center;
  height: 100%;
}

.row-sprites .card {
  border: none;
  margin: 15px;
}

.row-sprites .card img {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-width: 60px;
  min-height: 60px;
  max-width: 74px;
  max-height: 74px;
  padding: 8px;
}

.pokecard {
  height: 95%;
  align-items: center;
}

.pokecard .card-body {
  padding: 0px;
}

.pokecard .card-img-top {
  width: 90%;
  padding-top: 1.25rem;
}

.games-card-deck {
  justify-content: center;
}

.games-card-deck .card {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
  width: auto;
  height: auto;
}

.voce-text {
  justify-content: center;
  font-size: larger;
  text-align: center;
}

.btn-move {
  width: 185px;
  align-items: center;
  font-weight: bold;
}

.pokedex-card.card-deck, .typedex-card.card-deck {
  flex-flow: row wrap;
  justify-content: center;
}


.pokedex-card {
  .number {
    color: gray;
    text-align: left;
  }

  .card {
    background-color: white;
    height: 182px;
    width: 182px;
    justify-content: center;
  }

  .card:hover {
    background-color: lightgray;
    height: 182px;
    width: 182px;
    justify-content: center;
  }

  .transparent > .card  {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .transparent > .card:hover  {
    background-color: white;
  }

  .card-title {
    font-size: 16px;
  }

  .card-body {
    text-align: center;
  }

  a:hover {
    text-decoration: none;
  }
}

.typedex-card {
  .card {
    background-color: white;
    color: black;
    height: 182px;
    width: 182px;
    justify-content: center;
  }

  .card:hover {
    height: 182px;
    width: 182px;
    justify-content: center;
  }

  .transparent > .card  {
    background-color: rgba(255, 255, 255, 0.7);
  }


  .card-title {
    font-size: 17px;
  }

  .card-body {
    text-align: center;
  }

  a:hover {
    text-decoration: none;
  }
}


@import "tipi.scss";