html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/assets/img/login-signup/signup.jpg);
  background-size: cover;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
